body { margin : 0; }

.site_entier {
    display : flex;
}




.presentation {

    width : 20%;
    text-align: justify;
    background-color: #FFB300;
    color : #030303;
    display: flex;
    flex-direction: column;
}



#photo_luis {
    align-self: center;
    width : 200px;
    height : 200px;
    overflow: hidden;
    border-radius: 50%;

}

.corps , #photo_luis {margin-top: 50px;}

.presentation h1 {
    
    background-color: #616161;
    color : #FFB300;
    height : 50px;
}

h1 p {
    text-align : center;
    padding-top : 7px;
}

.presentation ul { list-style-type: none; }

.presentation li { margin-bottom : 20px;}
.presentation a { 
    color : #616161;
    text-decoration: none;
 }

 .presentation p {
     padding-left : 40px;
     padding-right : 40px;
 }

#loisir {
    margin-top: auto;
    text-align: center;
}

#loisir , .recommandation {
    margin-bottom: 30px;
}

#loisir img {
    margin-right : 20px;
    border-radius: 100%;
    border: 1px solid #616161;
    padding : 10px;
}

.corps {

    width : 50%;
    padding-left : 50px; 
}


#Luis { color : #FFB300; }

h1 img { 
    margin-right : 20px; }

aside , .recommandation_1 , .recommandation_2 , header {
    color : #616161; }



#titre_souligne {
    text-decoration: underline;
    text-decoration-color: #FFB300;
}

header { 
    margin-bottom : 130px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }

header h1 {
    font-size : 70px; 
    margin-bottom : 0;
    margin-top : 20px;
}

header h2 { margin-top : 2px; }




.formation ul , .experience_pro ul {
    display : inline-block;
    vertical-align: top;
    width : 220px;

}

.formation_graphic_designer ul , .exp_graphic_designer ul { list-style-type: none;}

.formation_graphic_designer ul  li::before , .exp_graphic_designer ul  li::before {
    content: "\2022";
    margin-right: 10px;
    color : #FFB300; }


.premier { list-style-image: url("circle.svg"); }


.formation aside , .experience_pro aside {
    display: inline-block;
    width : 70%; }



.recommandation_1 , .recommandation_2 {
    display: inline-block;
}

.recommandation_1 {
    margin-right : 50%; 
}

.transition {
    height : 2px;
    background-color : #FFB300;
    margin-bottom: 20px;
 }
