body { margin : 0; }

.site_entier { display : flex; }

.presentation h1 , #Luis , .formation_graphic_designer ul  li::before , .exp_graphic_designer ul  li::before { color : #FFB300; } 

.presentation , .transition { background-color: #FFB300;}

.corps h2 , .presentation { color : black; }

.presentation a , .corps { color : #616161; }

.corps , #photo_luis {margin-top: 30px;}   /* Marge du haut */

#loisir , .recommandation { margin-bottom: 30px; }  /* Marge du bas */

.formation aside , .experience_pro aside , .recommandation_1 , .recommandation_2 , .formation ul , .experience_pro ul { display : inline-block; }



/* Partie Presentation (partie gauche) */

.presentation {

    width : 20%;
    text-align: justify;
    display: flex;
    flex-direction: column;

}


#photo_luis {
    align-self: center;
    width : 200px;
    height : 200px;
    overflow: hidden;
    border-radius: 50%;

}

.titre {
    height : 50px;
    background-color: #616161;
}

.titre h1 {
    text-align : center;
    padding-top : 7px;
}


.presentation ul { list-style-type: none; }

.presentation li { margin-bottom : 20px;}

.presentation a {  text-decoration: none; }

 .presentation p {
     padding-left : 40px;
     padding-right : 40px;
 }

#loisir {
    margin-top: auto;
    text-align: center;
}


#loisir img {
    margin-top : 10px; 
    margin-right : 20px;
    border-radius: 100%;
    border: 1px solid #616161;
    padding : 5px;
}


/* Partie Corps du site (partie droite) */

.corps {
    width : 50%;
    padding-left : 50px;  }



h2 img {  margin-right : 20px; }


#titre_souligne {
    text-decoration: underline;
    text-decoration-color: #FFB300;
}

header { 
    margin-bottom : 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }

header h1 {
    font-size : 70px; 
    margin-bottom : 0px; }



.formation ul , .experience_pro ul {
    vertical-align: top;
    width : 25%;

}

.formation_graphic_designer ul , .exp_graphic_designer ul { list-style-type: none;}

.formation_graphic_designer ul  li::before , .exp_graphic_designer ul  li::before {
    content: "\2022";
    margin-right: 10px; }


.premier { list-style-image: url("circle.svg"); }


.formation aside , .experience_pro aside {
    width : 70%;
    text-align: justify; }


.recommandation_1 { margin-right : 50%;  }

.transition {
    height : 2px;
    margin-bottom: 20px;
 }



 @media screen and (max-width : 700px)
    {
        .site_entier {flex-direction: column;  }

        .presentation, .formation aside , .experience_pro aside, .formation ul , .experience_pro ul { width : 100%;}

        .corps { width : 80%;  padding-left: 10px; }

        h2 { text-align: center;}

        header h2 { text-align: left;}
        
        h3 { text-decoration: underline; color : #FFB300;  }

    }